<h1>My Components!</h1>
<p *ngIf="!weather"><em>Loading...</em></p>

<table class='table' *ngIf="weather">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of weather">
      <td (click)="edit(forecast);">{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
      <td><button (click)="delete(forecast)">Delete</button></td>
    </tr>
  </tbody>
</table>
<ul *ngIf="current">
  <li>
    <label>
      dateFormatted
    </label>
    <input [(ngModel)]="current.dateFormatted" />
  </li>
  <li>
    <label>
      temperatureC
    </label><input [(ngModel)]="current.temperatureC" />

  </li>
  <li>
    <label>
      temperatureF
    </label>
    <input [(ngModel)]="current.temperatureF" />

  </li>
  <li>
    <label>
      summary
    </label>
    <input [(ngModel)]="current.summary" />
  </li>
</ul>
<button (click)="submit()">Save</button>

<button (click)="add()">Add</button>
